# python 3.11
# don't forget to set .env variables
openai
XlsxWriter
openpyxl
pandas
openai
gradio
transformers>=4.46.1
ollama
plotly
#git+https://gitlab.ost.ch/generative-ai/student-space/llmhub-client.git
sentence-transformers
numpy
faiss-cpu
